/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background: #F6F8F9;
}

.container {
    background: #fff;
    height: 800px;
    width: 70%;
    margin: 0 auto;
}

/* Header */

header {
    background: #fff;
    line-height: 100px;
}

#logo {
 vertical-align: middle;
 height: 80px;
}

h1 {
    display: inline-block;
    font-size: 60px;
    font-weight: bolder;
    vertical-align: middle;
}

/* Buttons */

.input-utente {
    background: #fff;
    line-height: 70px;
    width: 70%;
    margin: 50px auto 3px;
    vertical-align: middle;
    border-radius: 10px 10px 0 0;
}

.button {
    line-height: 30px;
    padding: 1px 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
}


#task {
    margin-left: 50px;
    margin-right: 10px;
}


#section, #task {
    background-color: #fff;
    color: lightgray;
    border: 2px solid lightgray;

}

#section:hover, #task:hover {
    background-color: #47ADF1;
    border: 2px solid #47ADF1;
    color: #fff;
}

/* Contenuto della Lista */

.margins {
    margin-left: 50px;
    margin-bottom: 30px;
}

.new-tasks {
    padding-top: 50px;
}

details {
    font-family: 'Times New Roman', Times, serif;
    color: #3C4049;
}

summary {
    font-size: 30px;
    font-weight: 700;
}

details > p {    
    font-size: 25px;
    display: inline;
    line-height: 50px;
    vertical-align: middle;
}

.check {
    color: green;
    border: 1px solid green;
    border-radius: 60%;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    display: inline-block;
    font-weight: 700;
    margin-right: 10px;
    font-size: 90%;
}

.check::after {
    content: '\2713';
}

.cross {
    color: red;
    border: 1px solid red;
    border-radius: 60%;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    background-color: white;
    display: inline-block;
    font-weight: 700;
    margin-right: 10px;
    font-size: 70%;
}

.cross::after {
    content: '\2717';
}

.tag {
    line-height: 30px;
    padding: 1px 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    margin-left: 5px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;

}

.editoriale, .editoriale::after {
    background-color: #47ADF1;
    content: "Editorial";
}

.goals, .goals::after {
    background-color: #9C72E4;
    content: "Q1 Goals";
}

.recruiting, .recruiting::after {
    background-color: #64C0A9;
    content: "Recruiting";
}

.mobile, .mobile::after {
    background-color: #F29E33;
    content: "Mobile";
}

.website, .website::after {
    background-color: #D863A1;
    content: "Website";
}

.sales, .sales::after {
    background-color: #B0C927;
    content: "Sales";
}